body {
    color: black;
    background-color: white;
    font-family: 'Montserrat';
}
/* NAVBAR */

.navbar {
    display: flex;
    justify-content: flex-end;
    /* height: 400px; */
}

.navbar a {
    font-size: 1.5em;
    text-decoration: none;
    margin: 5px 1em;
    letter-spacing: .2em;
    padding: 10px 0;
    color: black;
}

.navbar-collapse {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}


.navbar h1 {
    font-size: 24px;
}
nav a:visited {
    color: black
}

.nav-anchor {
    padding: 0px;
    margin: 0px; 
}

.bracket_container {
    height: 50px;
    width: 50px;
}

.first_left {
    stroke-dasharray: 150;
    stroke-dashoffset: 1000;
    opacity: 0;
    transform: translate(30px, 5px);
}

.first_right {
    stroke-dasharray: 150;
    stroke-dashoffset: 1000;
    opacity: 0;
    transform: translate(-35px, 5px);
}

.second_left {
    stroke-dasharray: 150;
    stroke-dashoffset: 1000;
    opacity: 0;
    transform: translate(30px, 5px);
}

.second_right {
    stroke-dasharray: 150;
    stroke-dashoffset: 1000;
    opacity: 0;
    transform: translate(-35px, 5px);
}

.third_left {
    stroke-dasharray: 150;
    stroke-dashoffset: 1000;
    opacity: 0;
    transform: translate(30px, 5px);
}

.third_right {
    stroke-dasharray: 150;
    stroke-dashoffset: 1000;
    opacity: 0;
    transform: translate(-35px, 5px);
}





/* .path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 3s linear infinite;
  }
  
  @keyframes dash {
    from {
      stroke-dashoffset: 1000;
    }
    to {
      stroke-dashoffset: 0;
    }
  } */

.highlight-link {
    color: orange;
}

nav h1 {
    margin: 15px auto 15px 15px;
    font-size: 18px;
    letter-spacing: .2em;
}

/* HOME */

.home-page .about-contact-columns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.home-page .about-me {
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 24px;
    margin: 30px 15px 30px 30px;
}

.contact-me a {
    margin: 5px;
}

.home-page .contact-me {
    width: 360px;
    display: flex;    
    justify-content: center;
    flex-direction: column;
    font-size: 24px;
    margin: 95px 30px 30px 15px;
}


.home-page .contact-me a {    
    text-decoration: none;
    color: black;
}
.home-page .contact-me a:visited {
    color: black;
}







/* HEADER */

header {
    background-color: #F5F8FA;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header img {
    max-height: 200px;
    max-width: 200px;
    height: auto;
    width: auto;
    border-radius: 50%;
    padding: 10px;
    background: white;
    box-sizing: initial;
}

/* PROJECTS PAGE */
.projects-page .project-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.project-container img {
    max-width: 100%;
}
.projects-page .img-circle {
    max-height: 400px;
    width: auto;
    height: auto;
    border-radius: 50%;
    transform: scale(0.001);
}

.project-link-container {
    margin: 20px;

}

.project-link-container a {
    float: right;
    text-decoration: none;
    color: black;
}

.project-link-container a:visited {
    color: black;
}

.expand {
    animation-name: expand;
    animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
  }
  
  @keyframes expand {
    from {transform: scale(0.01)}
    to {transform: scale(1)}
  }

  /* BLOG PAGE */
.blog-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.blog-post-container {
    max-width: 50%;
    font-size: 21px;
    line-height: 1.5;
    font-family: 'Times New Roman';
    margin: auto;
}

.blog-post-container img{
    max-width: 30%;
    margin: 10px;
}

.side-navigation li {
    cursor: pointer;
    list-style: none;
    margin: 1em;
}

.side-navigation li:hover {
    color: gray;
 }

   
.side-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;


}

.experiment {
    height: 25em;
    width: 25em;
    border-width: 1em;
    border-style: dashed;
}


/* MOBILE */

@media (max-width: 426px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }
    .navbar h1 {
        margin: 15px;
    }
    .blog-post-container {
        max-width: 70%;
    }
    .sub-header h3 {
        margin: 10px 30px;
    }
}